<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <div class="logo-container">
        <button
          nbButton
          ghost
          size="giant"
          fullWidth="true"
          status="primary"
          (click)="toggleSidebar()"
        >
          <nb-icon icon="menu-2"></nb-icon>
        </button>
      </div>
    </div>
    <div *ngIf="user$ | async as user">
      <nb-user
        size="large"
        picture="{{ user.photoURL }}"
        name="{{ user.displayName }}"
        showName="false"
      ></nb-user>
    </div>
  </nb-layout-header>

  <nb-sidebar tag="leftNav" state="collapsed"
    ><app-side-menu></app-side-menu
  ></nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
