@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/dark";

$nb-themes: nb-register-theme(
  (
    color-primary-100: #ffd6f7,
    color-primary-200: #ffadf5,
    color-primary-300: #ff84fa,
    color-primary-400: #f866ff,
    color-primary-500: #e633ff,
    color-primary-600: #b625db,
    color-primary-700: #8b19b7,
    color-primary-800: #641093,
    color-primary-900: #48097a,
    color-primary-transparent-100: rgba(230, 51, 255, 0.08),
    color-primary-transparent-200: rgba(230, 51, 255, 0.16),
    color-primary-transparent-300: rgba(230, 51, 255, 0.24),
    color-primary-transparent-400: rgba(230, 51, 255, 0.32),
    color-primary-transparent-500: rgba(230, 51, 255, 0.4),
    color-primary-transparent-600: rgba(230, 51, 255, 0.48),
    color-success-100: #f6fecd,
    color-success-200: #ebfd9c,
    color-success-300: #dbfa6a,
    color-success-400: #cbf545,
    color-success-500: #b2ef0b,
    color-success-600: #93cd08,
    color-success-700: #76ac05,
    color-success-800: #5b8a03,
    color-success-900: #487202,
    color-success-transparent-100: rgba(178, 239, 11, 0.08),
    color-success-transparent-200: rgba(178, 239, 11, 0.16),
    color-success-transparent-300: rgba(178, 239, 11, 0.24),
    color-success-transparent-400: rgba(178, 239, 11, 0.32),
    color-success-transparent-500: rgba(178, 239, 11, 0.4),
    color-success-transparent-600: rgba(178, 239, 11, 0.48),
    color-info-100: #cdfef4,
    color-info-200: #9bfef2,
    color-info-300: #69fef8,
    color-info-400: #44f6fd,
    color-info-500: #07dffc,
    color-info-600: #05aed8,
    color-info-700: #0384b5,
    color-info-800: #025e92,
    color-info-900: #014478,
    color-info-transparent-100: rgba(7, 223, 252, 0.08),
    color-info-transparent-200: rgba(7, 223, 252, 0.16),
    color-info-transparent-300: rgba(7, 223, 252, 0.24),
    color-info-transparent-400: rgba(7, 223, 252, 0.32),
    color-info-transparent-500: rgba(7, 223, 252, 0.4),
    color-info-transparent-600: rgba(7, 223, 252, 0.48),
    color-warning-100: #fff5da,
    color-warning-200: #ffe9b6,
    color-warning-300: #ffda91,
    color-warning-400: #ffcb76,
    color-warning-500: #ffb349,
    color-warning-600: #db8e35,
    color-warning-700: #b76d24,
    color-warning-800: #935017,
    color-warning-900: #7a3a0e,
    color-warning-transparent-100: rgba(255, 179, 73, 0.08),
    color-warning-transparent-200: rgba(255, 179, 73, 0.16),
    color-warning-transparent-300: rgba(255, 179, 73, 0.24),
    color-warning-transparent-400: rgba(255, 179, 73, 0.32),
    color-warning-transparent-500: rgba(255, 179, 73, 0.4),
    color-warning-transparent-600: rgba(255, 179, 73, 0.48),
    color-danger-100: #ffe7e3,
    color-danger-200: #ffcbc7,
    color-danger-300: #ffacae,
    color-danger-400: #ff97a4,
    color-danger-500: #ff7593,
    color-danger-600: #db557f,
    color-danger-700: #b73a6d,
    color-danger-800: #93255d,
    color-danger-900: #7a1652,
    color-danger-transparent-100: rgba(255, 117, 147, 0.08),
    color-danger-transparent-200: rgba(255, 117, 147, 0.16),
    color-danger-transparent-300: rgba(255, 117, 147, 0.24),
    color-danger-transparent-400: rgba(255, 117, 147, 0.32),
    color-danger-transparent-500: rgba(255, 117, 147, 0.4),
    color-danger-transparent-600: rgba(255, 117, 147, 0.48),
  ),
  custom-theme,
  dark
);
